<%= form_for @app, :html => { :multipart => true } do |f| %>
  <% if @app.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@app.errors.count, "error") %> prohibited this app from being saved:</h2>

      <ul>
      <% @app.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class='container'>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  
  
  <div class="field">
    <%= f.label :publisher %><br>
    <%= f.text_field :publisher %>
  </div>
  <div class="field">

  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :platform %><br>
    <%= f.text_field :platform %>
  </div>
  <div class="field">
    <%= f.label :availableTo %><br>
    <%= f.text_field :availableTo %>
  </div>
  <div class="field">
    <%= f.label :availableThrough %><br>
    <%= f.text_field :availableThrough %>
  </div>
  <div class="field">
    <%= f.label :icon %><br>
    <%= f.file_field :icon %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
</div>
