<p id="notice"><%= notice %></p>
<div class="container">
<div class='row'>
	<div class='myadminbutton'>
		<button class="btn btn-default" data-toggle="modal" data-target="#adminmodal" title="Login">
			<span class="glyphicon glyphicon-user"> Login </span>
		</button>
	</div>
</div>
<%= render 'adminlogin' %>
<div class="jumbotron text-center"><h1>Weber State Software</h1></div>
<table class='table table-hover table-striped'>
  <thead>
    <tr>
      <th></th>
      <th>Description</th>
      <th>Available To</th>
      <th>Available Through</th>	
      <th colspan="2" class='admin'></th>
    </tr>
  </thead>
  <tbody>
    <%= render 'applicationlist' %>
 </tbody>

</table>

<div class='col-md-12'>
  <div class='col-md-3'>
  <ul class="pager">
    <li id="prev" class="previous"><a href="#">Previous</a></li>
  </ul>
  </div>
  <div class='col-md-6 text-center'>
  <% x = 1 %>
  <% y = 1 %>
  <ul class="pagination">
    <% until x > (@apps.count) do %>
      <li id='page-<%= y %>' data-page-number=<%= y %>><a href='#'><%= y %></a></li>
    <!-- Hard coded number of apps per page -->
    <% x += 3 %>
    <% y += 1 %>
    <% end %>
  </ul>
  </div>
  <div class='col-md-3'>
  <ul class="pager">
    <li id="next" class="next"><a href="#">Next</a></li>
  </ul>
  </div>
</div>

</div>



